<%- include('header') -%>
    <h1>Affluence</h1>
    <select id="station" class="form-control mt-2"></select>
    <div class="chart_div text-center p-0" style="height: 400px;">
        <div id="load" class="mt-5">
            <i class="fas fa-spinner fa-spin"></i>
        </div>
    </div>

    <%- include('scripts') -%>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="chart.js"></script>
        <script>
            generateSelect('<%= recordid %>');
            setTimeout(function() {
                loadData($('#station').val())
            }, 500);
        </script>
        <%- include('footer') -%>