<%- include('header') -%>

    <p id="refresh-datetime" class="pt-3 text-right"></p>
    <a onClick="$('#search').val('50.62925,3.057256'); refreshCards();" href="#">Lille centre coordonnées</a><br />
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-success" style="width: 45px;" type="button" id="lucky" data-toggle="tooltip" data-html="true" data-placement="top" title="<b>J'ai de la chance</b><br />Trouver la meilleure station"><i class="far fa-lightbulb"></i></button>
            <button class="btn btn-outline-success" style="width: 45px;" type="button" id="geolocalize" data-toggle="tooltip" data-placement="top" data-html="true" title="<b>Localisez-moi</b><br />Voir les stations à proximité"><i
        class="fas fa-map-pin"></i></button>
        </div>
        <input type="search" class="form-control border border-success" placeholder="Votre recherche..." id="search">
        <div class="input-group-append">
            <button class="btn btn-outline-success" type="button" id="searchButton">Rechercher</button>
        </div>
    </div>
    <div id="cards"></div>
    <div id="horaires">
        <span class="text-muted">Plage horaire: <span id="plage" class="font-weight-bold"></span></span>
        <div id="horaires_data"></div>
        <div class="text-muted pull-left" id="startTime"></div>
        <div class="text-muted pull-right" id="endTime"></div>
        <button class="btn btn-block btn-secondary" id="luckySubmit">Valider</button>
    </div>
    <%- include('scripts') -%>
        <script>
            $(function() {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
        <%- include('footer') -%>