#cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
}

.card {
    transition: all 400ms;
}

.card:hover {
    box-shadow: 0 0 8px gainsboro;
}

.card:hover>.card-footer:nth-child(2n) {
    background: rgba(240, 240, 240, 0.9);
}

.map {
    width: 100%;
    height: 120px;
}

#horaires {
    width: 230px;
    display: none;
    margin: auto;
}

#horaires_data {
    width: 200px;
    display: grid;
    grid-auto-columns: repeat(10, auto);
    grid-template-areas: "time time time time time time time time time";
    grid-gap: 2px;
    margin: auto;
}

.time {
    background: gainsboro;
    height: 60px;
    transition: all 200ms;
}

.time:hover {
    background-color: grey;
}

.time:active {
    background-color: green;
}

.time_selected {
    background: green;
}

@media (min-width: 768px) {
    #cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    #cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    #cards {
        grid-template-columns: repeat(4, 1fr);
    }
}